<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProfile name="prod">
        <include resource="logback-spring-prod.xml"/>
    </springProfile>
</configuration>